* {
	user-select: none;
}

#body {
	display: block;
	width: calc(100%);
	height: calc(100%);
	position: absolute;
	top: 0;
	left: 0;
}
#head {
	display: block;
	width: calc(100%);
	height: 48px;
	line-height: 48px;
}
#logo {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
#logoa.a >  #logo {
	visibility: hidden;
}

#logoa {
	margin-left: 10px;
	display: inline-block;
	width: 48px;
	height: 48px;
}
#logoa.a {
	animation: logoa 5s;
	animation-delay: 0s;
	animation-iteration-count:infinite ;
	background-repeat: no-repeat;
}

@keyframes logoa {
   0% { background-image: url(./1.png); }
  10% { background-image: url(./2.png); }
  20% { background-image: url(./1.png); }
  30% { background-image: url(./3.png); }
  40% { background-image: url(./4.png); }
  50% { background-image: url(./3.png); }
  60% { background-image: url(./5.png); }
  70% { background-image: url(./3.png); }
  80% { background-image: url(./3.png); }
  90% { background-image: url(./2.png); }
 100% { background-image: url(./1.png); }
}

#motion {
	display: block;
	border-top: 1px solid #ccc;
	padding: 2px 4px;
	width: calc(100% - 10px);
	height: calc(100% - 61px);
}

#motion td {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 4px 12px;
	width: 160px;
	text-align: center;
	height: 2em;
	cursor: pointer;
}
#loga {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	border-left: 1px solid #ccc;
	width: 300px;
	height: 48px;
	background: white;
	z-index: 2;
}

#logd {
	position: absolute;
	top: 2px;
	right: 1em;
	color: gray;
	cursor: pointer;
	background: white;
}
#loge {
	position: absolute;
	top: 24px;
	right: 1em;
	color: gray;
	cursor: pointer;
	background: white;
}

#log {
	word-break: break-all;
	overflow: hidden auto;
	font-family: monospace;
	font-size: small;
	height: calc(100%);
	width: calc(100%);
}

#log > div {
	padding: 2px 4px;
}

#open, #close, .m {
	font-size: 18px;
	line-height: 18px;
	margin-left: 10px;
	vertical-align: middle;
	word-break: break-all;
}

#open, #close {
	border: 1px solid gray;
	padding: 4px 12px;
	padding-top: 6px;
	border-radius: 8px;
	display: none;
	cursor: pointer;
}
